.resume-background {
    background-color: #ccf5f5;
    color:  #212518;
  }
  
  .resume-container {
    max-width: 80vw;
    margin-left: 10vw;
    background-color: #c1d8c0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
  }

.resume-header{
  color: #212518;
}

  .experience-container ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;    
  }

  a{
    height: 50px;
    width: 50px;
  }

  .pdf-icon{
    height: 50px;
    width: 50px;
  }
  .work-container ul {
    margin-top: 10px;
  }
  
  .work-container li:not(:last-child) {
    margin-bottom: 10px;
  }
  

  .bolded{
    font-weight: bold;
    font-size: 150%;
  }

  .italics{
    font-style: italic;
    font-size: 115%;
  }
  
li{
    font-size: 110%
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education-skills-container {
  display: flex;
  gap: 20px; /* Adds a 10px gap between the tiles */
  flex-wrap: wrap; /* Allows the tiles to wrap to a new line if there's not enough space */
  justify-content: center; /* Centers the tiles horizontally */
  margin-top: 15px;
}

@media screen and (max-width: 780px){
  .skills-component{
    margin-top: 150px;
    margin-bottom: 30px;
    padding-bottom: 0;
  }
  #skills-header{
    margin-top: -230px;
    margin-bottom: 280px;
  }
  .experience-container{
    margin-top: -220px;
  }
}




